@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend Deca', sans-serif;
}

h1,
h2 {
    font-family: 'Inter', sans-serif;
    color: hsl(0, 0%, 100%);
}

.card {
    width: min(1110px, 90%);
    color: hsl(0, 0%, 100%);
    border-radius: 8px;
    background: hsl(244, 38%, 16%);
    display: flex;
    flex-direction: row-reverse;
}

.card .card_header {
    border-radius: 0 8px 8px 0;
    background: rgb(95, 26, 139);
}

.card .card_header img {
    width: 100%;
    height: 100%;
    border-radius: 0 8px 8px 0;
    display: block;
    opacity: 0.5;
    object-fit: cover;
    object-position: right;
}

.card .card_content {
    max-width: calc(500px + 58px);
    padding: 66px 58px;
}

.card_content h1 {
    margin-bottom: 25px;
    font-size: 2.25rem;
}

h1 strong {
    color: hsl(277, 64%, 61%);
}

.card_content p {
    width: 380px;
    font-size: 14.5px;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.75;
    letter-spacing: -0.01px;
}

.card_content .stats {
    margin-top: 4.5rem;
    display: flex;
    gap: 4rem;
}

.stats .data {
    font-size: 12px;
    color: hsla(0, 0%, 100%, 0.6);
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.stats .data .value {
    margin-bottom: 6px;
    font-size: x-large;
    letter-spacing: normal;
    text-transform: none;
}

@media (max-width: 800px) {
    html,
    body {
        height: auto;
    }

    body {
        display: block; /* enables scrolling */
    }
    .card {
        width: min(500px, 87%);
        margin: 5.5rem auto;
        flex-direction: column;
        text-align: center;
    }

    .card .card_header,
    .card .card_header img {
        border-radius: 8px 8px 0 0;
        height: 240px;
        object-fit: cover;
        object-position: top;
    }

    .card .card_content {
        width: 100%;
        padding: 38px 28px;
        text-align: center;
    }

    .card_content h1 {
        margin-bottom: 13px;
        font-size: 1.75rem;
        line-height: 1.2;
    }

    .card_content p {
        width: auto;
    }

    .card_content .stats {
        margin-top: 40px;
        flex-direction: column;
        gap: 28px;
    }
}
